[Desktop Entry]
Version=1.0
Type=Application
Name=OBSIDIAN Cybersecurity Center
Exec=obsidian-cybersecurity
Terminal=false
Icon=security-high
Categories=System;
